@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@200;300;400;500;600;700&display=swap');

@import "toasts";
@import "variables";
@import "values";

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Exo 2', sans-serif;
}

h1, h2, h3, h4, h5, h6, p, li{
	color: $text-color;
	font-weight: 400;

	i{
		font-size: .8em;
		margin-right: 5px;
	}
}

::selection{
	background: $secondary-color;
	color: white;
}

html, body, #blade-content-container{
	height: 100%;
}